body {
    background-color: #efefef;
    color: black;
    margin: 0;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* mm */

/* 继承爸爸的颜色 */

a {
    color: inherit;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

hr {
    height: 0;
    border: none;
    border-top: 1px solid #dedede;
}

.topNavBar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    /* padding: 20px 0; */
}

.topNavBar-inner {
    padding: 20px 16px;
}

.logo {
    float: left;
}

.topNavBar nav {
    float: right;
    height: 40px;
}

.topNavBar nav>ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topNavBar nav>ul>li {
    float: left;
    margin: 0 17px;
}

.topNavBar nav>ul>li>a {
    font-size: 12px;
    color: #b7b7b7;
    /* text-decoration: none; */
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    border-top: 4px solid transparent;
    border-bottom: 3px solid transparent;
}

.topNavBar nav>ul>li>a:hover {
    border-bottom: 3px solid #e06567
}

.topNavBar .logo {
    font-family: "Arial Black";
    font-size: 24px;
    height: 40px;
}

.topNavBar .logo .rs {
    margin-right: 4px;
    color: #e6686a
}

.topNavBar .logo .card {
    color: #9a9da2
}

.banner {
    background-image: url(./img/rs-img.jpg);
    height: 515px;
    background-position: center center;
    background-size: cover;
}

.banner .mask {
    height: 515px;
    background-color: rgb(0, 0, 0, 0.6);
}

.userCard {
    max-width: 940px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}

.userCard .welcome {
    display: inline-block;
    background-color: #e6686a;
    color: white;
    padding: 4px 16px;
    margin-bottom: 28px;
    line-height: 22px;
    position: relative;
}

.userCard .welcome .triangle {
    position: absolute;
    left: 4px;
    top: 100%;
    display: inline-block;
    border: 10px solid transparent;
    width: 0;
    border-left-color: #e6686a;
    border-top: 0;
}

.userCard .picture {
    float: left;
}

.userCard .text {
    float: left;
    margin-left: 65px;
    width: 470px;
}

.userCard .text hr {
    margin: 20px 0;
}

.userCard .pictureAndText {
    padding: 50px;
}

.userCard dl dt, .userCard dl dd {
    float: left;
    padding: 5px 0;
}

.userCard dl dt {
    width: 30%;
    font-weight: bold;
}

.userCard dl dd {
    width: 70%;
    color: #9da0a7;
}

.userCard>footer.media {
    background-color: #e6686a;
    text-align: center;
}

.userCard>footer.media>a {
    display: inline-block;
    width: 40px;
    padding: 5px 0;
    line-height: 30px;
    border-radius: 50%;
    margin: 16px;
}

.userCard>footer.media>a:hover {
    background-color: #cf5d5f
}

.userCard svg {
    width: 30px;
    height: 30px;
    fill: white;
    /* margin: 0 16px; */
    vertical-align: top;
}

body>main {
    position: relative;
    margin-top: -360PX;
}

body>main>.downloadWrapper {
    text-align: center;
}

body>main>.downloadWrapper>.download {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    padding: 21px 55px;
    border: 1px solid #cdcfd1;
    background-color: #efefef;
    display: inline-block;
    border-radius: 2px;
    color: #3d4451;
    font-weight: bold;
    margin-top: 32px;
    transition: box-shadow 0.2s;
}

body>main>.downloadWrapper>.download:hover {
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}

.selfIntroduction {
    max-width: 940px;
    margin: 30px auto;
    text-align: center;
    font-family: kai;
    line-height: 1.8;
    font-size: 18px;
}
